# Auto detect text files and perform LF normalization
* text=auto
+1.1 Crea una variable llamada "miEdad" y asigna el valor 31 a ella.
+1.2 Crea una variable llamada "miNombre" y asigna el valor "Hector" a ella.
+1.3 Crea una variable llamada "miPais" y asigna el valor "España" a ella 
+1.4 Crea una variable"miPresentacion" y asignar el valor de una cadena que incluye las variables "miNombre" y "miPais".
+'''
+
+miEdad = 25
+print(miEdad)
+minNombre = 'Hector'
+print(miNombre)
+miPais = 'España'
+print(miPais)
+miPresentacion = miNombre + miPais
+print(miPresentacion)
